
.categories-container {
    overflow: auto; /* обязательно для появления скролла */
    white-space: nowrap;
    padding: 20px;
    width: 100%;
}

.categories-item {
    display: inline-block;
    border-radius: 20px;
    margin-right: 6px;
    padding: 15px 10px;
    width: 130px;
    height: 170px;
    overflow: hidden;
    background: linear-gradient(#262c35, #303835);
}

.categories-container::-webkit-scrollbar {
    width: 8px; /* толщина вертикального скролла */
    height: 8px; /* толщина горизонтального скролла */
}
.categories-container::-webkit-scrollbar-thumb {
    background: #6b7280; /* цвет ползунка */
    border-radius: 4px;
}

.categories-container::-webkit-scrollbar-thumb:hover {
    background: #4b5563; /* цвет при наведении */
}

.categories-container::-webkit-scrollbar-track {
    background: #e5e7eb; /* цвет трека */
    border-radius: 4px;
}
.categories-item-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.categories-item img {
    width: 160px;
    height: 112px;
    border-radius: 8%;
    margin-bottom: 16px;
}

.categories-container span {
    color: #b7e9da;
    white-space: pre-wrap;
    line-height: 1;
    -webkit-box-orient: vertical;
    max-width: none;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    width: 100%;
    display: inline-block;
}
