/* Categories.css */

/* .categories-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 10px;
  margin-bottom: 20px;
} */

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 2s;
}

.category-image {
  width: 250px;
  height: 150px;
  border-radius: 20%;
  object-fit: cover;
}

.category-name {
  margin-top: 14px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
  
.active-category {
  margin-bottom: 1px;
  background: linear-gradient( #ea5376, #33474d);
  animation: activeCategory 1s ;
}

@keyframes activeCategory {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
}
}
